body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circulos{
    display: flex;
}

.circulo{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.a{
    background-color: green;
    animation-name: bola1;
}

.b{
    background-color: blue;
    animation-name: bola2;
}

@keyframes bola1{
    0%{
        left: 25px;
        transform: scale(1);
        z-index: 1;
    }
    25%{
        left: 100px;
        transform: scale(0.66);
    }
    50%{
        left: 25px;
        transform: scale(0.33);
        z-index: 0;
    }
    75%{
        left: -50px;
        transform: scale(0.66);
    }
    100%{
        left: 25px;
        transform: scale(1);
        z-index: 1;
    }
}

@keyframes bola2{
    0%{
        left: -25px;
        transform: scale(0.33);
        z-index: 0;
    }
    25%{
        left: -100px;
        transform: scale(0.66);
    }
    50%{
        left: -25px;
        transform: scale(1);
        z-index: 1;
    }
    75%{
        left: 50px;
        transform: scale(0.66);
    }
    100%{
        left: -25px;
        transform: scale(0.33);
        z-index: 0;
    }
}

